{
  "extends": "ezy/react",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "apps/view",
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": [
    "vite.config.ts",
    "postcss.config.js",
    "prettier.config.js",
    "**/*.d.*"
  ],
  "rules": {
    "no-empty-pattern": "off",
    "import/no-extraneous-dependencies": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-first-prop-new-line": ["error", "multiline"],
    "react/react-in-jsx-scope": "off",
    "react/jsx-max-props-per-line": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-await-in-loop": "off",
    "react/prop-types": "off",
    "max-len": "off",
    "no-param-reassign": "off",
    "react/no-unstable-nested-components": "off",
    "@typescript-eslint/no-shadow": "off",
    "no-useless-escape": "off",
    "no-bitwise": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["CustomInputLabel"],
        "labelAttributes": ["label"],
        "controlComponents": ["CustomInput"],
        "depth": 3
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ]
  }
}
